@font-face {
  font-family: Futura;
  src: url('../font/Futura-Bold.ttf');
  font-weight: bold;
}

@font-face {
  font-family: ProximaNova;
  src: url('../font/ProximaNova-Reg.otf');
  font-weight: 400;
}

@font-face {
  font-family: ProximaNova;
  src: url('../font/ProximaNova-Light.otf');
  font-weight: 200;
}

$header: 100px;
$spacing: 50px;

$joyspiration: #ED184C;
$black: #292929;
$black-o: rgba(41, 41, 41, 0.2);
$grey: #CACACA;

$border: 1px solid rgba(0, 0, 0, 0.15);

.background {
  background-image: url('../img/subtle_dots.png');
  min-height: 100vh;
}

.header {
  height: $header;
  width: 100%;
  background-color: white;
  line-height: $header;
  position: fixed;
  top: 0;
  z-index: 100;

  .logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-transform: uppercase;
    color: $joyspiration;
    margin: 0;
    font-weight: bold;
    text-align: center;
  }

  .mainlogo {
    letter-spacing: 4px;
  }

  // .logo:hover {
  //   .mainlogo {
  //     letter-spacing: 7px;
  //   }
  //   .sublogo {
  //     letter-spacing: 4px;
  //   }
  // }

  .sublogo {
    font-size: 20%;
    display: block;
    letter-spacing: 3.3px;
  }

  .header-left {
    .header-icon:first-child {
      padding-left: 10px;
    }
  }

  .header-icon {
    display: inline-block;
    height: 100%;
    width: 80px;
    position: relative;
    text-align: center;
  }

  .header-right{
    display: inline-block;
    top: 0;
    right: 0px;
    position: absolute;
  }

  .blog, .insta{
    position: absolute;
    height: 45%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    img {
      height: 100%;
    }
  }

  .blog:hover {
    transform: translate(-50%, -50%) rotateZ(15deg);
  }

  .insta {
    height: 38%;
    opacity: 0.7;
  }

  .insta:hover {
    height: 42%;
  }

  .bitmoji {
    position: absolute;
    height: 70%;
    top: 45%;
    left: 55%;
    transform: translate(-50%, -50%);

    img {
      height: 100%;
    }
  }

  .subtitle {
    margin: 0;
    line-height: 0;
    text-transform: uppercase;
    font-size: 60%;
    opacity: 0.6;
    display: block;
    transform: translateY(-10px);
  }

}

.post {
  margin-bottom: $spacing - 10px;
  text-transform: uppercase;
  border-bottom: $border;
  padding-bottom: 10px;

  .postImage {
    border: $border;
    max-width: 100%;
    border-radius: 5px;
    cursor: pointer;
  }

  // .postImage:hover {
  //   border-radius: 50px;
  // }

  .postCaption, .postTitle {
    text-align: left;
    white-space: pre-wrap;
    letter-spacing: 1px;
    color: $black;
    font-weight: bold;
    font-size: 2.1rem;
  }

  .postCaption {
    margin-bottom: 5px;
  }

  .postTime {
    text-transform: uppercase;
    margin-bottom: 1px;
    color: $black-o;
    font-weight: bold;
    text-align: left;
    font-size: 1.7rem;
  }

  .postTitle {
    margin-bottom: 10px;
    font-size: 3rem;
  }

  .postContent {
    font-family: 'ProximaNova';
    text-transform: none;
    margin-bottom: 10px;
    margin-top: 5px;
    font-weight: 100;
    font-size: 120%;

    h2 {
      font-weight: bold;
      font-size: 2.5rem;
      margin-bottom: 10px;
      letter-spacing: 0.5px;
      padding-bottom: 5px;
      border-bottom: $border;
      width: 75%;
      font-weight: 400;
    }

    figure {
      display: inline-block;
      margin: 0;
      width: 50%;
      height: 0px;
      overflow: hidden;
      border-radius: 5px;

      img {
        width: 100%;
        display: inline-block;
      }
    }

    figure:before {
      content: "";
      display: inline-block;
      vertical-align: middle;
      height: 100%;
    }

    figure + p {
      font-size: 70%;

      a {
        text-decoration: underline;
      }
    }
  }

  .hashtag {
    text-transform: none;
    font-size: 50%;
    line-height: 160%;
    margin-top: 5px;
    margin-bottom: 0;

    .hashtagLink {
      color: $black-o;
    }

    .hashtagLink:hover {
      color: $joyspiration;
    }
  }

  .postStats {
    color: $black-o;
    font-weight: bold;
    fill: currentColor;
  }
  .postStats:hover {
    color: $joyspiration;
  }

  .postIcon {
    height: 13px;
    width: 13px;
    padding-right: 3px;
  }

  .postIcon:last-child {
    padding-left: 10px;
  }
}

.me {
  img {
    width: 100%;
    border: $border;
    border-radius: 5px;
    margin-bottom: 10px;
  }
}

.container {
  padding-top: $header + $spacing/2;
}


.loading {
  text-align: center;
  margin-bottom: $spacing;
}

@media(max-width: 800px){
  .header {
    .logo {
      font-size: 2rem;
    }

    .mainlogo {
      letter-spacing: 2px;
    }

    .bitmoji {
      height: 60%;
    }

    .sublogo {
      display: none;
    }

    .blog {
      height: 35%;
    }

    .subtitle {
      bottom: 14px;
    }

    .subtitle.left {
      left: 15px;
    }

    .subtitle.right {
      right: 24px;
    }

    .header-right {
      display: none;
    }

    .header-icon {
      width: 60px;
    }

    .header-icon:last-child {
      position: absolute;
      right: 5px;
    }

    .subtitle {
      transform: translateY(-12px);
    }
  }
  .post {
    .postImage {
      margin-bottom: 5px;
    }

    .postContent {
      h2 {
        width: 100%;
      }
    }
  }
}

::selection {
  background: $joyspiration;
  color: white;
}

.unselectable {
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
  user-select: none;
  cursor: default;
}

.center {
  text-align: center;
}
